{% extends "CoreBundle::base.html.twig" %}
{% block title %}Erster Eintrag{% endblock %}

{% block content %}
    <section>
        <h1>Erster Blog</h1>
        <article class="vs-center">Erster Blogeintrag</article>
    </section>
{% endblock %}