{% extends "CoreBundle::base.html.twig" %}
{% block title %}Timeline{% endblock %}

{% block content %}
    <div class="timeline">
        <div class="month-navigation">
            Datum
        </div>

    </div>
{% endblock %}