<footer>
    <div class="vs-bgeffect" data-effect="parallax" style="background-image: url({{ asset('bundles/core/images/newspaper.jpg') }})">
        <div class="container text-center center">

        </div>
    </div>
    <section class="container">
        <section class="col-sm-8">
            <legend><h3 class="text-center">Meine Partner</h3></legend>
            <article class="text-center">
                <!-- Start Partnerprogramm ALL-INKL.COM -->
                <a href="http://all-inkl.com/?partner=323981">
                    <img border="0" src="http://all-inkl.com/banner/all-inkl_banner_470x60_verlauf.jpg" alt="ALL-INKL.COM - Webhosting Server Hosting Domain Provider" /></a>
                <!-- Ende Partnerprogramm -->
            </article>
        </section>
        <section class="col-sm-4">
            <legend><h3 class="text-center">Webseite erstellt mit</h3></legend>
            <article class="text-center">
                <img style="height: 32px;" src="{{ asset('bundles/core/images/logos/symfony2-logo.png') }}" \>
                <img style="height: 32px;" src="{{ asset('bundles/core/images/logos/html-logo.png') }}" \>
                <img style="height: 32px; border-radius: 6px;" src="{{ asset('bundles/core/images/logos/bootstrap-logo.png') }}" \>
            </article>
        </section>
        <div class="clearfix"></div>
        <hr>
        <div class="col-sm-8">
            {% include "CoreBundle:navigation:foot.html.twig" %}
        </div>
        <div class="col-sm-4">
            <p class="muted pull-right">© 2016 VS Development. All rights reserved</p>
        </div>
    </section>
</footer>